
    * {
      box-sizing: border-box;
      font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
      font-size: 16px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    body {
      background-color: #435165;
      margin: 0;
    }
    .login, .register {
      width: 400px;
      background-color:grey;
      box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
      margin: 100px auto;
    }
    .login h1, .register h1 {
      text-align: center;
      color:black;
      font-size: 24px;
      padding: 20px 0 20px 0;
      border-bottom: 1px solid #dee0e4;
    }
    .login .links, .register .links {
      display: flex;
      padding: 0 15px;
    }
    .login .links a, .register .links a {
      color: #adb2ba;
      text-decoration: none;
      display: inline-flex;
      padding: 0 10px 10px 10px;
      font-weight: bold;
    }
    .login .links a:hover, .register .links a:hover {
      color: #9da3ac;
    }
    .login .links a.active, .register .links a.active {
      border-bottom: 3px solid red;
      color:red;
    }
    .login form, .register form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-top: 20px;
    }
    /* .login form label, .register form label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      background-color: #d64532;
      color: #ffffff;
    } */
    .login form input[type="password"], .login form input[type="text"], .login form input[type="email"], .register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
      width: 310px;
      height: 50px;
      border: 1px solid #dee0e4;
      margin-bottom: 20px;
      padding: 0 15px;
    }
    .login form input[type="submit"], .register form input[type="submit"] {
      width: 100%;
      padding: 15px;
      margin-top: 20px;
      background-color: #d64532;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      color: #ffffff;
      transition: background-color 0.2s;
    }
    .login form input[type="submit"]:hover, .register form input[type="submit"]:hover {
      background-color: #c74d28;
      transition: background-color 0.2s;
    }
    .navtop {
      background-color: #2f3947;
      height: 60px;
      width: 100%;
      border: 0;
    }
    .navtop div {
      display: flex;
      margin: 0 auto;
      width: 1000px;
      height: 100%;
    }
    .navtop div h1, .navtop div a {
      display: inline-flex;
      align-items: center;
    }
    .navtop div h1 {
      flex: 1;
      font-size: 24px;
      padding: 0;
     margin: 0;
      color: #eaebed;
      font-weight: normal;
    }
    .navtop div a {
      padding: 0 20px;
      text-decoration: none;
      color: #c1c4c8;
      font-weight: bold;
    }
    .navtop div a i {
      padding: 2px 8px 0 0;
    }
    .navtop div a:hover {
      color: #eaebed;
    }
    body.loggedin {
      background-color: #f3f4f7;
    }
    .content {
      width: 1000px;
      margin: 0 auto;
    }
    .content h2 {
      margin: 0;
      padding: 25px 0;
      font-size: 22px;
      border-bottom: 1px solid #e0e0e3;
      color: #4a536e;
    }
    .content > p, .content > div {
      box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
      margin: 25px 0;
      padding: 25px;
    background-color: #fff;
    }
    .content > p table td, .content > div table td {
    padding: 5px;
    }
    .content > p table td:first-child, .content > div table td:first-child {
    font-weight: bold;
    color: #4a536e;
    padding-right: 15px;
    }
    .content > div p {
    padding: 5px;
    margin: 0 0 10px 0;
    }

    * {
      box-sizing: border-box;
      margin:0;
      padding:0;
      }
      body {
      background:#DDD;
      font-family: 'Inknut Antiqua', serif;
      font-family: 'Ravi Prakash', cursive;
      font-family: 'Lora', serif;
      font-family: 'Indie Flower', cursive;
      font-family: 'Cabin', sans-serif;
      }
      div.container {
      max-width: 1350px;
      margin: 0 auto;
      overflow: hidden
      }
      .upcomming {
      font-size: 45px;
      text-transform: uppercase;
      border-left: 14px solid rgba(255, 235, 59, 0.78);
      padding-left: 12px;
      margin: 18px 8px;
      }
      .container .item {
      width: 48%;
      float: left;
      padding: 0 20px;
      background: #fff;
      overflow: hidden;
      margin: 10px
      }
      .container .item-right, .container .item-left {
      float: left;
      padding: 20px 
      }
      .container .item-right {
      padding: 79px 50px;
      margin-right: 20px;
      width: 25%;
      position: relative;
      height: 286px
      }
      .container .item-right .up-border, .container .item-right .down-border {
        padding: 14px 15px;
        background-color: #ddd;
        border-radius: 50%;
        position: absolute
      }
      .container .item-right .up-border {
      top: -8px;
      right: -35px;
      }
      .container .item-right .down-border {
      bottom: -13px;
      right: -35px;
      }
      .container .item-right .num {
      font-size: 60px;
      text-align: center;
      color: #111
      }
      .container .item-right .day, .container .item-left .event {
      color: #555;
      font-size: 20px;
      margin-bottom: 9px;
      }
      .container .item-right .day {
      text-align: center;
      font-size: 25px;
      }
      .container .item-left {
      width: 71%;
      padding: 34px 0px 19px 46px;
      border-left: 3px dotted #999;
      } 
      .container .item-left .title {
      color: #111;
      font-size: 34px;
      margin-bottom: 12px
      }
      .container .item-left .sce {
      margin-top: 5px;
      display: block
      }
      .container .item-left .sce .icon, .container .item-left .sce p,
      .container .item-left .loc .icon, .container .item-left .loc p{
        float: left;
        word-spacing: 5px;
        letter-spacing: 1px;
        color: #888;
        margin-bottom: 10px;
      }
      .container .item-left .sce .icon, .container .item-left .loc .icon {
      margin-right: 10px;
      font-size: 20px;
      color: #666
      }
      .container .item-left .loc {display: block}
      .fix {clear: both}
      .container .item .tickets, .booked, .cancel{
        color: #fff;
        padding: 6px 14px;
        float: right;
        margin-top: 10px;
        font-size: 18px;
        border: none;
        cursor: pointer
      }
      .container .item .tickets {background: #777}
      .container .item .booked {background: #3D71E9}
      .container .item .cancel {background: #DF5454}
      .linethrough {text-decoration: line-through}
      @media only screen and (max-width: 1150px) {
      .container .item {
        width: 100%;
        margin-right: 20px
      }
      div.container {
        margin: 0 20px auto
      }
      }